main{
    background-image: url(../images/Homepage\ image_3.jpg);
    background-color: darkblue;
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
    width: 100%;

}
.words{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    


}
.heading{
    font-size: 50px;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}