.main-class{
    background-image: url(../images/Guyheadd\ logo\ for\ website\ .png);
    background-color:  #f2cd2f;
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100;

}
/*.words{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.heading{
    font-size: 50px;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
}*/

.socialmediaClass{
    background-color: #f2cd2f;
}
backgroundthings{
    background-image: url(../images/Homepage\ image_3.jpg);
    background-color:  #f2cd2f;
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100;
}