.menuTop {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2cd2f;
  position:fixed;
  top: 0;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menuTop ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #f2cd2f;
position: fixed;
top: 0;
width: 100%;
}

.menuTop li {
  float: left;
}

.menuTop li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menuTop li a:hover:not(.active) {
  background-color: rgb(201, 131, 18);
}
.active {
background-color:#b05227 ;
margin: auto;
}

@media screen and (max-width: 600px) {
  .menuTop a:not(:first-child) {display: none;}
  .menuTop a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menuTop.responsive {position: relative;}
  .menuTop.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuTop.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
h1{
text-align: center;
font-size: 2em;
color:#361d09 ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  text-align: center;
  color:white;
  border: 5px;
  background-color: #5e2e13;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textstyle{
  margin: auto;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogs{
  font-size:15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*margin: auto;*/
  margin: 15px 15px;
  padding: 0;
  border: 0;
  text-align: justify;
}
.blogbackground{
  background-color: #5e2e13;
}
.table font{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author-details{
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
  margin-left: 45px;
}

.forms{
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons{
  text-align: center;
  color:white;
  border: 50px;
  background-color:black;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*.Main{
  max-width: 900px;
  text-align: center;
  margin: auto;
  color:black;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;

}*/
  table, th, td {
    border: 5px solid #5e2e13;
    border-collapse: collapse;
    width: 60%;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

