.menu-top {
    
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2cd2f;
  position:fixed;
  top: 0;
  width: 100%;
}
.menu-top ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #f2cd2f;
position: fixed;
top: 0;
width: 100%;
}

.menu-top li {
  float: left;
}

.menu-top li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-top li a:hover:not(.active) {
  background-color: #b05227;
}
.menu-top .active {
background-color: #361d09;
margin: auto;
}
h1{
text-align: center;
font-size: 2em;
color:black;
}
h2{
  text-align: center;
  color:white;
  border: 15px;
  background-color: #5e2e13;
}
.textstyle{
  margin: auto;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

}
.blogs{
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  /*margin: auto;*/
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;

}
.footer{
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  background-color:#f2cd2f;;
  color: black;
}
.youtube{
  position: auto;
  margin-left: 45px;
  margin-right: 45px;
}
.author-details{
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  margin-left: 45px;
}